<h1>Contacts Show</h1>
<p>--------------------------</p>


<h1><%= @contact.fullname %></h1>
<h4>"<%= @contact.firstname %>"</h4>
<h4>"<%= @contact.lastname %>"</h4>
<h4>"<%= @contact.address %>"</h4>
<h4>"<%= @contact.email %>"</h4>
<h4>"<%= @contact.mobile_phone_number %>"</h4>